<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('./partials/head'); %>
</head>

<body>
    <header>
        <%- include('./partials/header'); %>
    </header>

    <main class="container" style="margin-top:2%">
        Je suis la liste des catégory
    </main>

    <footer>
        <%- include('./partials/footer'); %>
    </footer>

</body>

</html>